<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axon.market.dao.mapper.iconfArea.IConfAreaMapper">

    <select id="selectConfAreaList" resultType="com.axon.market.common.domain.iconfArea.confAreaDomain">
        select id,name,code,parent_id as parentId,status from conf_area where status=1;
    </select>

</mapper>