<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axon.market.dao.mapper.istatistics.IProductOrderStatisticsMapper">
    <select id="queryProductOrderStatisticsCounts" resultType="java.lang.Integer">
        select count(t.count)
        from
        (select count(0) as count from pdc.analysis_order
        where 1=1
        <if test="startTime != '' and startTime != null ">
            and dateint &gt;= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null ">
            and dateint &lt;= #{endTime}
        </if>
        <if test="city != '' and city != null ">
            and (#{city} = -1 or city = #{city})
        </if>
        group by product_code) t
    </select>

    <select id="queryProductOrderStatisticsByPage" resultType="java.util.Map">
        select product_code,
        product_name,
        sum(order_num) order_num,
        sum(succ_num) succ_num,
        concat(round(sum(succ_num)*100/sum(order_num),2),'%') as succ_rate
        from pdc.analysis_order
        where 1=1
        <if test="startTime != '' and startTime != null ">
            and dateint &gt;= #{startTime}
        </if>
        <if test="endTime != '' and endTime != null ">
            and dateint &lt;= #{endTime}
        </if>
        <if test="city != '' and city != null ">
            and (#{city} = -1 or city = #{city})
        </if>
        group by product_code
        limit ${limit} offset ${offset}
    </select>

    <select id="queryMarketAreas" resultType="com.axon.market.common.domain.iStatistics.ProductOrderStatisticsDomain">
        select
        a.id                                                                         as id,
        a.name                                                                       as name,
        a.parent_id                                                                  as pId,
        a.value                                                                      as value,
        if(find_in_set(a.id,#{areaIds}) >0,'true','false')                           as checked,
        if (a.parent_id = 0,'true','false')                                          as open
        from market_area a
        where  a.parent_id=99999 order by a.parent_id,a.id
    </select>
</mapper>