.upload{
    padding: 6px 12px !important;
    color: #fff !important;
    background-color: #00B38B !important;
    border: 1px solid #00B38B !important;
    border-radius: 2px !important;
    font-size: 14px;
}