/**
 * Created by yangyang on 2016/3/18.
 */


.multiRule{
    border: 1px solid white;
    margin: 0 5px;
}

.multiRule > div.ruleNode{
    margin-left: 10px;
}


.multiRule.showBorder{
    border: 1px solid silver;
}

.ruleNode.logic select.logic{
    width: 58px;
    margin: 5px;
    padding: 2px;
    font-size: 14px;
    background: #e0e0e0;
}

.ruleNode .body{
    margin: 2px 0px 2px 20px;
    padding:0px 10px;
    display: inline-block;
}

.ruleNode.logic{
    margin: 5px 5px 10px 50px;
    border: 1px solid gainsboro;
    padding-bottom: 5px;
    overflow: auto;
}

.ruleNode.data{
    margin-left: 20px;
    white-space: nowrap;
}

.multiRule .showBorder{
    border: 1px solid silver;
}

.ruleNode span.operate{
    margin-left: 10px;
    cursor: pointer;
    visibility: hidden;
}

.ruleNode.edit > div.logicHeader > span.operate.delete{
    visibility: visible;
    color: red;
    font-size: 17px;
}

.ruleNode.edit > div.logicHeader > span.operate.refresh{
    visibility: visible;
    color: #6F57A5;;
    font-size: 15px;
}

.ruleNode.edit > div.body > span.operate.delete{
    visibility: visible;
    color: red;
    font-size: 17px;
}

.ruleNode.edit > div.body > span.operate.refresh{
    visibility: visible;
    color: #6F57A5;;
    font-size: 15px;
}

.ruleNode.data select.operateSymbol{
    width: auto;
    border: 1px solid silver;
}

.ruleNode.data input.num{
    width: 120px;
    border: 0;
    border-bottom: 1px solid silver;
    font-weight: bold;
    border-radius: 0;
}

.ruleNode.data input.dimension{
    width: auto;
    border: 0;
    border: 1px solid silver;
    font-weight: bold;
   /* border-radius: 0;*/
}

.ruleNode.data input.num:focus{
    border-bottom: 1px solid silver;
}

.ruleNode.data span.name{
    display: inline-block;
    font-weight: bold;
    padding: 0px 10px;
    color: seagreen;
    min-width: 40px;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.ruleNode.data input.num.willHide{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    width: 0;
    height: 0;
    position: absolute;
}
