/** 弹窗 */
.welfareInfo,
.sendInfo,
.detailsInfo {
    padding: 30px 15px;
}

.welfareInfo .right,
.sendInfo .right,
.detailsInfo .right {
    text-align: right;
}

.welfareInfo div.col-md-3,
.welfareInfo div.col-md-7,
.sendInfo div.col-md-3,
.sendInfo div.col-md-7,
.detailsInfo div.col-md-3,
.detailsInfo div.col-md-7 {
    margin: 8px 0;
}

.welfareInfo .areaNames,
.welfareInfo .productNames,
.welfareInfo .orgNames {
    cursor: pointer;
}

/** 地市人员 */
.productInfo {
    height: 510px;
}

.dataTable tr.backColor {
    background-color: #FBFDFF;
}

.dataTable tr.shown td.details-control {
    background: url(../../ext/dataTables/images/details_close.png) no-repeat center center;
}

.dataTable td.details-control {
    background: url(../../ext/dataTables/images/details_open.png) no-repeat center center;
    cursor: pointer;
}

.dataTable td div.row {
    padding: 15px 0;
}

.dataTable td div.row div.col-md-12 {
    padding: 4px 0;
    margin: 4px 0;
}

.dataTable td div.row .title {
    width: 10%;
    color: #99a9bf;
    padding-right: 0;
}

.dataTable td div.row .content {
    width: 15%;
    padding-left: 0;
}

/** 选择产品组合 table样式 */
.productInfo {
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.productInfo .query-row {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    font-size: 14px;
    display: inline-block;
}

.productInfo .query-row .queryWelfareTypeId,
.productInfo .query-row .queryProductTypeId,
.productInfo .query-row .queryNetType,
.productInfo .query-row .queryProductName {
    width: 110px;
}

.productInfo .productInfoTitle {
    height: 20px;
    margin: 10px 0;
}

.productInfo .productInfoTitle .selectLefTitle {
    float: left;
    width: 40%;
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
    text-align: center;
}

.productInfo .productInfoTitle .selectMiddleTitle {
    float: left;
    width: 12%;
    margin-left: 4%;
    margin-right: 4%;
}

.productInfo .productInfoTitle .selectRightTitle {
    float: right;
    width: 40%;
    font-weight: bold;
    font-size: 16px;
    margin: 0 2px;
    text-align: center;
}

.productInfo .shuttleBox {
    margin: 5px 0 30px 0;
    width: 100%;
    height: 78%;
    float: left;
}

.productInfo .shuttleBox .selectLeft {
    width: 40%;
    float: left
}

.productInfo .shuttleBox .selectLeft select {
    width: 98%;
    height: 360px;
    border-radius: 4px;
}

.productInfo .shuttleBox .selectLeft select option {
    margin: 4px 0;
    cursor: pointer;
}

.productInfo .shuttleBox .selectBtn {
    width: 12%;
    float: left;
    margin-left: 4%;
    margin-right: 4%;
}

.productInfo .shuttleBox .selectBtn button {
    border-radius: 2px;
}

.productInfo .shuttleBox .selectRight {
    width: 40%;
    float: left
}

.productInfo .shuttleBox .selectRight select {
    width: 98%;
    height: 360px;
    margin-left: 0;
    border-radius: 4px;
}

.productInfo .shuttleBox .selectRight select option {
    margin: 4px 0;
    cursor: pointer;
}

.productInfo .shuttleBox tr.silver {
    background: silver;
}

/** 地市人员 end */

/** 末梢人员 */

.detailsInfo {
    height: 485px;
}

.detailsInfoTable thead tr th {
    border-bottom-width: 1px;
}

