/*搜索栏*/
#txtName,
#txtCreater,
#txtCatalog,
#selRule {
    width: 150px !important;
}

.i-div {
    width: 36px;
    display: inline-table;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

.emptyData {
    width: 100% !important;
    height: 185px;
    margin-bottom: 0;
    text-align: center;
    line-height: 120px;
    border: 1px solid #dbd9e1;
    border-radius: 2px;
}

[data-switch="table"] > div > div:not(.emptyData) {
    width: 23.5% !important;
    margin-right: 2%;
    margin-bottom: 30px;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #888888;
}

[data-switch="table"] > div > div > div:first-child {
    margin-bottom: 14px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

[data-switch="table"] > div > div > div:first-child > a {
    color: #00B38B;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
}

[data-switch="table"] > div > div > div:not(:first-child) {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
    font-size: 14px;
}

[data-switch="table"] > div > div > div:not(:first-child) > div:first-child {
    width: 32% !important;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
}

[data-switch="table"] > div > div > div:not(:first-child) > div:last-child {
    width: 67% !important;
    padding-right: 0;
    padding-left: 0;
}

.margin-right-none {
    margin-right: 0 !important;
}

.div-choose-user {
    width: 30% !important;
    height: 44px;
    line-height: 44px;
    margin: 0 18px 20px 0;
    background-color: #efebeb;
    text-align: center;
    border-radius: 4px;
    font-size: 18px;
}

.div-choose-user > span {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.div-choose-user:hover {
    font-size: 18px;
    color: #fff;
    background-color: #0CCEA2;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.div-choose-user-active {
    font-size: 18px;
    color: #fff;
    background-color: #0CCEA2;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 4px 2px 6px #888888;
}

/*弹窗*/
.layerInput {
    width: 82% !important;
    display: inline !important;
}

.layerTextArea {
    width: 82% !important;
    display: inline !important;
}

.layerSelect {
    width: 82% !important;
    display: inline !important;
}

.layerBtn {
    float: right;
    width: 70px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    display: inline-block;
    padding: 6px 8px;
    color: #fff;
    background: #00B38B;
    border: none;
    border-radius: 4px;
    text-transform: none;
    overflow: visible;
    -webkit-appearance: button;
}

.layerBtn i {
    margin-right: 4px;
}

.padding-radio {
    padding-top: 6px;
    padding-bottom: 6px;
}

.processTab thead > tr > th.sorting_disabled {
    text-align: center;
}

.processTab tbody tr.odd {
    text-align: center;
}

.switchShowBtn {
    padding-top: 10px;
    text-align: right !important;
}